<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scada Fabrication Machines</title>
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" href="/css/fontawesome-free-6.4.2/css/all.min.css">
</head>
<body>
    
    <div class="header">

        <div class="logo_agri">
            <img src="/images/logo_agri.png" alt="logo" />
          </div>

          <div class="menu">
            <ul>
                <li><i class="fa-solid fa-house-chimney-window fa-xl" style="color: #4d8efe; padding-left: 16px;"></i><a href="/">TRANG CHỦ</a></li>
    
                <li><i class="fa-solid fa-table fa-xl" style="color: #4d8efe; padding-left: 16px;"></i><a href="/table_1">NHÓM MÁY 1</a></li>
                
                <li><i class="fa-solid fa-table fa-xl" style="color: #4d8efe; padding-left: 16px;"></i><a href="/table_2">NHÓM MÁY 2</a></li>

                <li><i class="fa-solid fa-database fa-xl" style="color: #4d8efe; padding-left: 16px;"></i><a href="/data">DỮ LIỆU</a></li>

                <li><i class="fa-solid fa-gears fa-xl" style="color: #4d8efe; padding-left: 16px;"></i><a href="/setting">CÀI ĐẶT</a></li>
            </ul>
          </div>
        <h2 class="title">SCADA HỆ THỐNG GIÁM SÁT THIẾT BỊ CHẾ TẠO</h2>
    </div>

</body>
</html>