<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scada Banana Factory</title>

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    
    <div class="header">

        <div class="logo_agri">
            <img src="/images/logo_agri.png" alt="logo" />
          </div>

          <div class="menu">
            <ul>
                <li><a href="/">TRANG CHỦ</a></li>
    
                <li><a href="/table_1">BẢNG 1</a></li>
                
                <li><a href="/table_2">BẢNG 2</a></li>

                <li><a href="/data">DỮ LIỆU</a></li>

                <li><a href="/setting">CÀI ĐẶT</a></li>
            </ul>
          </div>
        
    </div>

</body>
</html>