<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scada Fabrication Machines</title>
  <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
  <%- include('partials/header'); -%>
  <div class="image">
  </div>
  <!-- <div class="headings">
    <h2>THACO INDUSTRIES</h2>
    <h3>by SCADA TEAM</h3>
  </div> -->
  <%- include('partials/footer'); -%>
</body>
</html>