<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Example</title>
    <script src = "socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
<body>
    <%- include('header.ejs'); -%>

    <form id="loginForm" >
        <label class="com_unit_login" for="username">Username:</label>
        <input class="com_unit_login" type="text" id="username" name="username" required>

        <label class="com_unit_login" for="password">Password:</label>
        <input class="com_unit_login" type="password" id="password" name="password" required>

        <button class="com_unit_login" type="button" onclick="checkLogin()">Login</button>
    </form>
        <script src="/js/login.js"></script>
</body>
</html>
