<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scada Fabrication Machines</title>
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <%- include('partials/header'); -%>
    <!-- <div class="video_background">
        <video autoplay muted loop id="background-video">
            <source src="/images/video_background_light.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div> -->
    
</body>
</html>