<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scada Fabrication Machines</title>
  <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/fontawesome-free-6.4.2/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="title">
        <img style="width: 50%;" src="/images/THACO_white.png" alt="">
      </div>

      <form action="/signup">

        <div class="signup-link">
          <a href="/">Scada Xưởng Chế Tạo</a>
        </div>

        <div class="row">
          <i class="fa-regular fa-envelope"></i>
          <input class="com_unit_login" for="email" type="text" name="email" placeholder="Email..." required />
        </div>
        <div class="email error" style="color: red;"></div>

        <div class="row">
          <i class="fas fa-lock"></i>
          <input class="com_unit_login" for="password" type="password" name="password" placeholder="Password..."
            required />
        </div>
        <div class="password error" style="color: red;"></div>

        <div class="row button">
          <button id="login_button" class="com_unit_login">Sign up</button>
        </div>

        <div class="signup-link">
          Already have an account? <a href="/login">Login now</a>
        </div>
      </form>

    </div>
  </div>
  <%- include('partials/footer'); -%>
</body>
<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
</script>

</html>