<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scada Fabrication Machines</title>
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>
    <script src="/js/FC1_common.js"></script>
    <script src="/js/FC2_edit.js"></script>
    <script src="/js/table1_caculate.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/table_1.css">

 

</head>
<body class="all">
    <%- include('header.ejs'); -%>
    <section class="home-section">
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 01</h2>
            </div>
            <img src="/public/images/Symbol/may_chan.png" alt="" id="Quat_thoi_bx_hong_ngoai" class="manu_symbol_left">
            <div class="manu_symbol">
                <img src="/public/images/Symbol/may_chan.png" alt="" id="Quat_thoi_bx_hong_ngoai" class="manu_symbol_left">
                <!-- <img id="Quat_thoi_bx_hong_ngoai" class="manu_symbol_left" src="./public/images/Symbol/may_chan.png"> -->
                <img id = "Quat_thoi_bx_hong_ngoai_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 02</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_thong_gio_1_phan_hoi" class="manu_symbol_left" >
                <img id = "Quat_thong_gio_1_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 03</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_th1_vgn_bao_bat_dau" class="manu_symbol_left" >
                <img id = "Quat_th1_vgn_bao_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 04</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_th2_vgn_bao_bat_dau" class="manu_symbol_left" >
                <img id = "Quat_th2_vgn_bao_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 05</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_th1_du_phong_bao_bat_dau" class="manu_symbol_left" >
                <img id = "Quat_th1_du_phong_bao_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 06</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_th2_du_phong_bao_bat_dau" class="manu_symbol_left" >
                <img id = "Quat_th2_du_phong_bao_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 07</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_thong_gio_2_phan_hoi" class="manu_symbol_left" >
                <img id = "Quat_thong_gio_2_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 08</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_cat_gio_vao_bat_dau" class="manu_symbol_left" >
                <img id = "Quat_cat_gio_vao_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 09</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Quat_cat_gio_ra_bat_dau" class="manu_symbol_left" >
                <img id = "Quat_cat_gio_ra_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 10</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Cua_vao_phong_say_mo" class="manu_symbol_left" >
                <img id = "Cua_vao_phong_say_dong" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">DỪNG</P>
        </div>
    </div>

    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 11</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Cua_ra_1_phong_say_mo" class="manu_symbol_left" >
                <img id = "Cua_ra_1_phong_say_dong" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">DỪNG</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 12</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Dau_dot_vgn_bat_dau" class="manu_symbol_left" >
                <img id = "Dau_dot_vgn_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 13</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Dau_dot_du_phong_1_vgn_bat_dau" class="manu_symbol_left" >
                <img id = "Dau_dot_du_phong_1_vgn_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 14</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Dau_dot_du_phong_2_vgn_bat_dau" class="manu_symbol_left" >
                <img id = "Dau_dot_du_phong_2_vgn_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 15</h2>
            </div>
            <div class="manu_symbol">
                <img id = "Lo_bx_hong_ngoai_bat_dau" class="manu_symbol_left" >
                <img id = "Lo_bx_hong_ngoai_loi" class="manu_symbol_right" >
            </div>
            <p class="manu_text_left">CHẠY</p>
            <P class="manu_text_right">LỖI</P>
        </div>
    </div>
</section>
</body>
</html>