<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />

    <title>Scada Banana Factory</title>

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>
    <script src="/js/FC1_common.js"></script>
    <script src="/js/table1_caculate.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/table_1.css">

    

</head>
<body class="all">
    <%- include('header.ejs'); -%>
    <div class="table_1_page">
        <!-- <video autoplay muted loop id="background-video">
            <source src="/images/video_background_light.mp4" type="video/mp4">
          </video> -->
        <table class="table_table1">
            <tr>
                <td rowspan="3">Cell 1</td>
                <td colspan="5" style="text-align: center;">BẢNG THEO DÕI KẾ HOẠCH SẢN XUẤT XƯỞNG SẢN XUẤT CHUỐI BP1</td>
            </tr>
            <tr>
                <td colspan="2">CHUỐI THU HOẠCH</td>
                <td colspan="3">THÙNG / NGÀY</td>
            </tr>
            <tr>
                <td>BUỒNG / NGÀY</td>
                <td>TẤN / NGÀY</td>
                <td>9KG</td>
                <td>13KG</td>
                <td>18KG</td>
            </tr>
            <tr>
                <td>KẾ HOẠCH</td>
                <td><input id="kehoachbn" type="number" value="0" style="width: 95%;"></td>
                <script>
                    fn_Auto_IOField_IO("Buong_ngaykh", "kehoachbn", 0);
                  </script>
                <td><input type="number" value="0" style="width: 95%;"></td>
                <td><input type="number" value="0" style="width: 95%;"></td>
                <td><input type="number" value="0" style="width: 95%;"></td>
                <td><input type="number" value="0" style="width: 95%;"></td>
            </tr>
            <tr>
                <td>THỰC TẾ</td>
                <td class="data_cell_tb11"></td>
                <td class="data_cell_tb11"></td>
                <td class="data_cell_tb11"></td>
                <td class="data_cell_tb11"></td>
                <td class="data_cell_tb11"></td>
            </tr>
            <tr>
                <td>CHÊNH LỆCH</td>
                <td class="data_cell_tb12"></td>
                <td class="data_cell_tb12"></td>
                <td class="data_cell_tb12"></td>
                <td class="data_cell_tb12"></td>
                <td class="data_cell_tb12"></td>
            </tr>
            <tr>
                <td>HIỆU SUẤT</td>
                <td class="data_cell_tb13"></td>
                <td class="data_cell_tb13"></td>
                <td class="data_cell_tb13"></td>
                <td class="data_cell_tb13"></td>
                <td class="data_cell_tb13"></td>
            </tr>
        </table>
    </div> 
</body>
</html>