<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <title>Scada Banana Factory</title>

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/table_2.css">

    

</head>
<body>
    <%- include('header.ejs'); -%>
    <div class="table_2_page">
        <video autoplay muted loop id="background-video">
            <source src="/images/video_background_light.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        <div class="table_con">
                <table>
                    <tr>
                        <td colspan="31" style="text-align: center;" >BẢNG THEO DÕI KẾ HOẠCH CÁC CHUYỀN ĐÓNG GÓI XƯỞNG SẢN XUẤT CHUỐI BP1.B</td>
                    </tr>
                    <tr>
                        <td >CHUYỀN</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 1</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 2</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 3</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 4</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 5</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 6</td>
                    </tr>
                    <tr>
                        <td >LOẠI</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >CL</td>
                    </tr>
                    <tr>
                        <td >KẾ HOẠCH</td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" >THỰC TẾ</td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td >CHÊNH LỆCH</td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td >THÙNG LỖI</td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td >TỔNG ĐÓNG GÓI</td>
                        <td colspan="30" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                </table>
        </div>        
    </div>
    
    
</body>
</html>