<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scada Fabrication Machines</title>
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>
    <script src="/js/FC1_common.js"></script>
    <script src="/js/FC2_edit.js"></script>
    <script src="/js/table1_caculate.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/table_1.css">

 

</head>
<body class="all">
    <%- include('header.ejs'); -%>
    <section class="home-section">
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 01</h2>
            </div>
             <div class="manu_symbol">
                <img  src="/images/may_chan.png" alt="logo" class="manu_symbol_left machines">
                <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
            </div>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 02</h2>
            </div>
            <img  src="/images/may_chan.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 03</h2>
            </div>
            <img  src="/images/may_chan.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 04</h2>
            </div>
            <img  src="/images/may_chan.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 05</h2>
            </div>
            <img  src="/images/may_chan.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 06</h2>
            </div>
            <img  src="/images/may_dot.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 07</h2>
            </div>
            <img  src="/images/may_dot.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 08</h2>
            </div>
            <img  src="/images/may_dot.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 09</h2>
            </div>
            <img  src="/images/may_dot.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 10</h2>
            </div>
            <img  src="/images/may_dot.png" alt="logo" class="manu_symbol_left machines">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>

    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 11</h2>
            </div>
            <img  src="/images/may_cat.png" alt="logo" class="manu_symbol_left machines3">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 12</h2>
            </div>
            <img  src="/images/may_cat.png" alt="logo" class="manu_symbol_left machines3">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 13</h2>
            </div>
            <img  src="/images/may_cat.png" alt="logo" class="manu_symbol_left machines3">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 14</h2>
            </div>
            <img  src="/images/may_cat.png" alt="logo" class="manu_symbol_left machines3">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
    <div class="manu_com">
        <div class="manu_com_1">
            <div class="manu_tab">
                <h2 class="manu_text_tab">MÁY 15</h2>
            </div>
            <img  src="/images/may_cat.png" alt="logo" class="manu_symbol_left machines3">
            <P class="manu_text_right">TRẠNG THÁI</P>
                <P class="manu_text_right1">KẾ HOẠCH</P>
                <P class="manu_text_right2">THỰC TẾ</P>
                <P class="manu_text_right3">HIỆU SUẤT</P>
        </div>
    </div>
</section>
</body>
</html>