<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scada Fabrication Machines</title>
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/table_2.css">

    

</head>
<body>
    <%- include('partials/header'); -%>
    <div class="table_2_page">
        <!-- <video autoplay muted loop id="background-video">
            <source src="/images/video_background_light.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->      
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 1</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 2</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 3</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 4</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 5</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 6</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 7</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 8</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 9</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 10</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 11</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 12</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 13</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 14</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>

    <div class="con_document">
        <div class="con_document_1">
            <p>Máy 15</p>
        </div>
        <div class="con_document_2">
            <p>Mã khuôn</p>
        </div>
        <div class="con_document_3">
            <p>Link bản vẽ ..................................................</p>
        </div>
        <button class="btn_document">sửa</button>
    </div>
    
    
</body>
</html>