<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scada Fabrication Machines</title>
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src="socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/table_2.css">



</head>

<body>
    <%- include('partials/header'); -%>
        <div class="table_2_page">
            <!-- <video autoplay muted loop id="background-video">
            <source src="/images/video_background_light.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
        </div>

        <div class="con_device">
            <select class="select_device" name="" id="">
                <option value="">Máy 1</option>
                <option value="">Máy 2</option>
                <option value="">Máy 3</option>
                <option value="">Máy 4</option>
                <option value="">Máy 5</option>
                <option value="">Máy 6</option>
                <option value="">Máy 7</option>
                <option value="">Máy 8</option>
                <option value="">Máy 9</option>
                <option value="">Máy 10</option>
                <option value="">Máy 11</option>
                <option value="">Máy 12</option>
                <option value="">Máy 13</option>
                <option value="">Máy 14</option>
                <option value="">Máy 15</option>

            </select>
            <button class="btn_document">Sửa</button>
            <button class="btn_document1">Lưu</button>
        </div>

        <table id="customers">
            <tr>
                <th style="width: 50px; text-align: center;" >STT</th>
                <th style="width: 250px;">Time</th>
                <th style="width: 250px;">Mã khuôn</th>
                <th>Link</th>
            </tr>
            <tr>
                <td class="stt_center">1</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">2</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">3</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">4</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">5</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">6</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">7</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">8</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">9</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
            <tr>
                <td class="stt_center">10</td>
                <td>DD/MM/YYYY - hh:mm:ss</td>
                <td>Mã khuôn</td>
                <td>Link bản vẽ ..................................................</td>
            </tr>
        </table>
        <button class="btn_document2">Thêm hàng</button>
        <button class="btn_document3">Xoá hàng</button>


</body>

</html>