<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
    <title>Scada Banana Factory</title>

    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG ////////////// -->
    <script src = "socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/table_2.css">

    

</head>
<body>
    <%- include('header.ejs'); -%>
    <div class="table_2_page">
        <video autoplay muted loop id="background-video">
            <source src="/images/video_background_light.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        <div class="table_con">
                <table>
                    <tr>
                        <td colspan="31" style="text-align: center;" >BẢNG THEO DÕI KẾ HOẠCH CÁC CHUYỀN ĐÓNG GÓI XƯỞNG SẢN XUẤT CHUỐI BP1.B</td>
                    </tr>
                    <tr>
                        <td >CHUYỀN</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 1</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 2</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 3</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 4</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 5</td>
                        <td colspan="5" style="text-align: center;" >CHUYỀN 6</td>
                    </tr>
                    <tr>
                        <td >LOẠI</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >B456</td>
                        <td >B789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >B456</td>
                        <td >B789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >B456</td>
                        <td >B789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >B456</td>
                        <td >B789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >B456</td>
                        <td >B789</td>
                        <td >CL</td>
                        <td >A456</td>
                        <td >A789</td>
                        <td >B456</td>
                        <td >B789</td>
                        <td >CL</td>
                    </tr>
                    <tr>
                        <td >KẾ HOẠCH</td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                        <td ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" >THỰC TẾ</td>
                        <td class="data_cell_tb21">1</td>
                        <td class="data_cell_tb21">2</td>
                        <td class="data_cell_tb21">3</td>
                        <td class="data_cell_tb21">4</td>
                        <td class="data_cell_tb21">5</td>
                        <td class="data_cell_tb21">6</td>
                        <td class="data_cell_tb21">7</td>
                        <td class="data_cell_tb21">8</td>
                        <td class="data_cell_tb21">9</td>
                        <td class="data_cell_tb21">10</td>
                        <td class="data_cell_tb21">11</td>
                        <td class="data_cell_tb21">12</td>
                        <td class="data_cell_tb21">13</td>
                        <td class="data_cell_tb21">14</td>
                        <td class="data_cell_tb21">15</td>
                        <td class="data_cell_tb21">16</td>
                        <td class="data_cell_tb21">17</td>
                        <td class="data_cell_tb21">18</td>
                        <td class="data_cell_tb21">19</td>
                        <td class="data_cell_tb21">20</td>
                        <td class="data_cell_tb21">21</td>
                        <td class="data_cell_tb21">22</td>
                        <td class="data_cell_tb21">23</td>
                        <td class="data_cell_tb21">24</td>
                        <td class="data_cell_tb21">25</td>
                        <td class="data_cell_tb21">26</td>
                        <td class="data_cell_tb21">27</td>
                        <td class="data_cell_tb21">28</td>
                        <td class="data_cell_tb21">29</td>
                        <td class="data_cell_tb21">30</td>
                    </tr>
                    <tr>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td >CHÊNH LỆCH</td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td >THÙNG LỖI</td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                        <td colspan="5" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                    <tr>
                        <td >TỔNG ĐÓNG GÓI</td>
                        <td colspan="30" ><input type="number" value="0" style="width: 95%;"></td>
                    </tr>
                </table>
        </div>        
    </div>
    
    
</body>
</html>