/* Form{
    display: flex;
    width: 25%;
    margin: auto;  padding: 50px;
    margin-top: 10%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: burlywood;
    border-radius: 6px;
    box-shadow: 0 4px 6px 2px #00000041;
} */


.com_unit_login{
    margin: 8px;
}