.canvasjs-chart-canvas{
    box-shadow: rgb(85, 85, 85) 0px 5px 8px -5px;
}
.che{
    position: relative;
    width: 100px;
    height: 26px;
    top: -26px;
    left: 1803px;
    background-color: white;
}