.table_2_page{
    padding-top:46px ;
    margin: 0 auto;
    justify-content: center;
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .con_document {
    display: flex; /* Thêm thuộc tính này để sử dụng flexbox */
    height: 60px;
    width: 90%;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 5px 8px -5px #555;
    background-color: darkkhaki;
    margin-top: 16px;
}

.con_document_1{
    width: 10%;
    height: 60px;
    background-color: #edff00;
    border-radius: 50px 0 0 50px; /* Điều chỉnh border-radius của .con_document_1 */
}

.con_document_2 {
    width: 20%;
    height: 60px;
    background-color: darkseagreen;
}
p{
    text-align: center;
    padding-top: 8px;
}

.btn_document{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    margin-left: 790px;
    height: 36px;
    width: 70px;
}

