
.table_1_page{
    padding-top:46px ;
    margin: 0 auto;
    justify-content: center;
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

table {
    background-color: rgb(197, 112, 0);
    width: 100%; /* Độ rộng của bảng */
    border-collapse: collapse; /* Gộp các đường viền của ô */
}

td {
    border: 0.5px solid #00000050; 
    padding: 8px; /* Khoảng cách giữa nội dung và đường viền của ô */
}

.data_cell_tb11,
.data_cell_tb12,
.data_cell_tb13{
    text-align: center;
}

.table_table1{
    /* box-shadow: 0 4px 6px 2px #00000020; */
    box-shadow: 0 4px 6px 2px #00000041;
}

/*Nút nhấn LƯU*/
#btt_Main_Save {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 120px; height: 40px;
    left: 1575px; top: 3px;
}
/*Nút nhấn SỬA*/
#btt_Main_Edit {
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    width: 120px; height: 40px;
    left: 1575px; top: 3px;
}

@media only screen and (min-width: 1600px){
    .home-section .manu_com{
        max-width: 100%;
        padding: 50px 0 20px; 
        /* padding-left: 16px;
        padding-right: 16px; */
        float: left; 
        width: 20%; 
        text-align: center; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_com_1{
        width: 300px;height: 220px;
        background-color: rgb(225, 228, 183);
        box-shadow: 0 2px 5px;  
        border-radius: 8px;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_tab{
        width: 300px;height: 25px;
        background-color: rgb(0, 204, 255);
        box-shadow: 0 1px 2px;
        border-radius: 8px 8px 0 0;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_text_tab{
        line-height: 25px;
        text-align: center;
        /* font-weight: 300; */
        font-size: small;
    }
    .manu_symbol{
        position: relative;
        max-width: 100%;
        width: 50%;
        /* top: 40px; */
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
    }
    .manu_text_left{
        width: 50%;
        text-align: center;
        transform: translateY(-290%);
        float: left;
    }
    .manu_text_right,
    .manu_text_right1,
    .manu_text_right2,
    .manu_text_right3{
        position: relative;
        top: -150px; left: 25px;
        text-align: center;
        margin: 0px;
        font-size: 13px;
        font-weight: bold;
        color: cornflowerblue;
        /* width: 50%; */
        /* transform: translateY(-290%); */
        /* float: right; */
    }
    .manu_text_right1{
        top: -140px; left: 20px;
    }
    .manu_text_right2{
        top: -130px; left: 15px;
    }
    .manu_text_right3{
        top: -120px; left: 20px;
    }
    .manu_symbol_left{
        width: 60px;
        height: 60px;
        left: 50%;
        transform: translateX(-70%);
    }
    .manu_symbol_right{
        width: 60px;
        height: 60px;
        right: 50%;
        transform: translateX(70%);
    }

    .machines{
        width: 145px;
        height: 145px;
        padding-top: 20px;
    }
    .machines3{
        width: 130px;
        height: 130px;
        padding-top: 35px;
    }
    
}
@media only screen and (min-width: 1100px) and (max-width: 1599px){
    .home-section .manu_com{
        max-width: 100%;
        padding: 50px 0 20px; 
        margin-left: auto; 
        margin-right: auto; 
        padding-left: 16px;
        padding-right: 16px;
        float: left; 
        width: 25%; 
        text-align: center; 
    }
    .manu_com_1{
        width: 250px;height: 200px;
        background-color: rgb(225, 228, 183);
        box-shadow: 0 2px 5px;  
        border-radius: 8px;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_tab{
        width: 250px;height: 45px;
        background-color: rgb(0, 204, 255);
        box-shadow: 0 1px 2px;
        border-radius: 8px 8px 0 0;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_text_tab{
        line-height: 25px;
        text-align: center;
        font-weight: 100;
        font-size: small;
    }
    .manu_symbol{
        position: relative;
        max-width: 100%;
        width: 50%;
        top: 40px;
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
    }
    .manu_text_left{
        width: 50%;
        text-align: center;
        transform: translateY(-290%);
        float: left;
    }
    .manu_text_right{
        width: 50%;
        text-align: center;
        transform: translateY(-290%);
        float: right;
    }
    .manu_symbol_left{
        width: 60px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    .manu_symbol_right{
        width: 60px;
        height: 60px;
        right: 50%;
        transform: translateX(50%);
    }
}
@media only screen and (min-width: 740px) and (max-width: 1099px){
    .home-section .manu_com{
        max-width: 100%;
        padding: 50px 0 20px; 
        margin-left: auto; 
        margin-right: auto; 
        padding-left: 16px;
        padding-right: 16px;
        float: left; 
        width: 33.333333%; 
        text-align: center; 
    }
    .manu_com_1{
        width: 250px;height: 200px;
        background-color: rgb(225, 228, 183);
        box-shadow: 0 2px 5px;  
        border-radius: 8px;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_tab{
        width: 250px;height: 40px;
        background-color: rgb(0, 204, 255);
        box-shadow: 0 1px 2px;
        border-radius: 8px 8px 0 0;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_text_tab{
        line-height: 25px;
        text-align: center;
        font-weight: 100;
        font-size: small;
    } 
    .manu_symbol{
        position: relative;
        max-width: 100%;
        width: 50%;
        top: 40px;
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
    }
    .manu_text_left{
        width: 50%;
        text-align: center;
        transform: translateY(-290%);
        float: left;
    }
    .manu_text_right{
        width: 50%;
        text-align: center;
        transform: translateY(-290%);
        float: right;
    }
    .manu_symbol_left{
        width: 60px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    .manu_symbol_right{
        width: 60px;
        height: 60px;
        right: 50%;
        transform: translateX(50%);
    }
}
@media only screen and (min-width: 0px) and (max-width: 739px){
    .home-section .manu_com{
        max-width: 100%;
        padding: 50px 0 20px; 
        margin-left: auto; 
        margin-right: auto; 
        padding-left: 16px;
        padding-right: 16px;
        float: left; 
        width: 50%; 
        text-align: center; 
    }
    .manu_com_1{
        width: 300px;height: 250px;
        background-color: rgb(225, 228, 183);
        box-shadow: 0 2px 5px;  
        border-radius: 8px;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_tab{
        width: 300px;height: 40px;
        background-color: rgb(0, 204, 255);
        box-shadow: 0 1px 2px;
        border-radius: 8px 8px 0 0;
        margin-left: auto; 
        margin-right: auto; 
    }
    .manu_text_tab{
        line-height: 25px;
        text-align: center;
        font-weight: 100;
        font-size: small;
    } 
    .manu_symbol{
        position: relative;
        max-width: 100%;
        width: 50%;
        top: 40px;
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
    }
    .manu_text_left{
        width: 50%;
        text-align: center;
        transform: translateY(-290%);
        float: left;
    }
    .manu_text_right{
        width: 50%;
        text-align: center;
        transform: translateY(-290%);
        float: right;
    }
    .manu_symbol_left{
        width: 60px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    .manu_symbol_right{
        width: 60px;
        height: 60px;
        right: 50%;
        transform: translateX(50%);
    }
}